* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
}

body {
  max-width: 1500px;
  overflow-x: hidden;
}

#mobileNav{
  display: none;
}

aside {
  float: left;
  width: 325px;
  position: fixed;
  padding: 15px 0 0 40px;
  background-color: #FFFFFF;
  /*border: 1px solid green;*/
}

.logo {
  width: 250px;
  cursor: pointer;
  /*border: 1px solid black;*/
}

aside p {
  cursor: pointer;
  font-size: .9em;
  padding-top: 15px;
}

aside ul {
  list-style: none;
  margin-top: 30px;
}

aside li {
  font-size: .9em;
  margin-top: 8px;
}

aside li:hover {
  opacity: .5;
  cursor: pointer;
}

aside ul a {
  color: black;
  text-decoration: none;
}

#content {
  width: 1110px;
  margin-left: 325px;
  display: flex;
  flex-wrap: wrap;
  /*border: 1px solid orange;*/
}

#content img, #content video {
  width: 350px;
  height: 350px;
  margin: 15px 0 0 15px;
  border: 1px solid rgb(211,211,211);
}

.item:hover {
  opacity: .5;
  cursor: pointer;
}

.annimation, .illustration, .clothingDesign {
  display: none;
}

#modal {
  top:0;
  width: 100vw;
  height: 100vh;
  display: none;
  cursor: pointer;
  position: absolute;
  /*text-align: center;*/
  background-color: rgba(1,1,1, .9);
}

#modal img, #modal video {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -40vh;
  margin-left: -20vw;
  height: 80vh;
}

/*--------------------------------------------------------------------------------------------------------------------------------*/
/*MOBILE SIZING*/

@media (max-width: 499px) {

  #mobileNav {
    display: block;
  }

  #mobileNav img {
    width: 125px;
    padding: 10px 0 10px 10px;
  }

  #mobileLinks {
    display: none;
    text-align: center;
  }

  #mobileNav #mobileLinks div {
    color: black;
    padding: 15px 0;
    font-size: .85em;
    border: 1px solid rgb(211,211,211);
    */
  }

  #mobileLinks a {
    text-decoration: none;
  }

/* -------------- HAMBURGER ICON ----------------------- */
  .burger {
    display: block;
    position: absolute;
    right: 15px;
    top: 60px;
  }

  .line1, .line2, .line3 {
    width: 35px;
    height: 5px;
    background-color: #555555;
    margin: 6px 0;
    transition: 0.4s;
  }

  .change .line1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
  }

  .change .line2 {
    opacity: 0;
  }

  .change .line3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
  }


  aside {
    display: none;
  }

  #content {
    margin: 0;
    width: 100%;
    justify-content: space-around;
    /*height: 85vh;*/
    overflow: scroll;
    /*border: 1px solid green;*/
  }

  #content img, #content video {
    width: 45vw;
    height: 45vw;
    margin: 1.5vw 0;
    border: 1px solid rgb(211,211,211);
  }

  #modal img, #modal video {
    top: 50%;
    left: 0;
    margin-top: -50%;
    margin-left: 0;
    height: 100vw;
  }

}

/*--------------------------------------------------------------------------------------------------------------------------------*/
/*iPhone + sizing */

@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {

}

/*--------------------------------------------------------------------------------------------------------------------------------*/
/*iPhone sizing */

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {

}
